<!DOCTYPE html>
<html>
<head>
<style>

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;
}
</style>
</head>
<body>

  <table style="width:100%">
    <caption>
      <%= @artist_1.split.map(&:capitalize).join(' ') %>
      vs
      <%= @artist_2.split.map(&:capitalize).join(' ') %>
    </caption>


    <tr>
      <th>
        <center>
          <% if @artist_1_followers > @artist_2_followers %>
          <%= "Winner!" %>
          <% elsif @artist_1_followers < @artist_2_followers %>
          <%= "Loser!" %>
          <% end %>
        </center>
      </th>
      <th>
        <center>
          <% if @artist_2_followers > @artist_1_followers %>
          <%= "Winner!" %>
          <% elsif @artist_2_followers < @artist_1_followers %>
          <%= "Loser!" %>
          <% end %>
        </center>
      </th>

    </tr>
    <tr>
      <td>
        <div
        class="content">
        <h2> <%= @artist_1.split.map(&:capitalize).join(' ') %> </h2>
        <p> <%= @clean_1_number %> </p>
      </div>
    </td>

    <td>
      <div
      class="content">
      <h2> <%= @artist_2.split.map(&:capitalize).join(' ') %> </h2>
      <p> <%= @clean_2_number %> </p>
    </div>
  </td>
</tr>
<!--- -->
<tr>
  <td>
    <section class="spotlight">
      <li class="crop">
        <img src="<%= @artist_1_pic %>" alt="<%= @artist_1 %>" />
      </li>
    </td>

    <td>
      <section class="spotlight">
        <li class="crop">
          <img src="<%= @artist_2_pic %>" alt="<%= @artist_2 %>" />
        </li>
      </td>

    </tr>
  </table>

</body>
